.big-button {
    background: $cyan;
    border: none;
    border-bottom: .6rem solid darken($cyan, 10%);
    color: white;
    font-weight: bold;
    font-size: $l-size;
    margin-bottom: $m-size;
    padding: 2.4rem;
    width: 100%;
}

.big-button:disabled {
    opacity: .1;
}

.button {
    background: $cyan;
    border: none;
    border-bottom: .6rem solid darken($cyan, 10%);
    color: white;
    font-weight: 500;
    padding: $s-size;
}

.button--link {
    background: none;
    border: none;
    color: $off-white;
    padding: 0;
}

@media (min-width: $desktop-breakpoint) {
    .big-button {
        margin: 0 0 $xl-size 0;
    }
}